body{
    display:block;
    font-size:18px;
    width:100%;
    align-items:center;
}

#bNavbar{
    display:block;
    overflow: hidden;
    position:fixed;
    width:100%;
    background:#5e5e5e;
    border-width: 5px;
    border-color:#2e2e2e;

}