body{
    display:block;
    font-size:18px;
    height:100vh;
    align-content:center;
}

#bNavbar{
    display:block;
    overflow:hidden;
    position:fixed;
    bottom:0;
    width:100vw;
    background:#5e5e5e;
    border-width: 0px;
    border-color:#000000;
    margin-left:-2vh;
}
.link{
    padding-left:30px;
    text-align:justify;
}